/* Much of this was cribbed from the stylesheet for xxiivv.com --- my thanks to Devine Lu Linvega */

/* Whole page */
body { background:#fff;font-family:serif;font-size:16px;overflow-x:hidden }

/* Main section of page */
main { margin-left:30px; max-width:624px; clear:both; position:relative }

/* Links */
a { outline: 0; }
a img { border: 0px; text-decoration: none; }
a:link {
    color: #000000;
    padding: 0 1px;
    text-decoration: underline;
    font-weight: normal;
    font-style: italic;
}
a:visited {
    color: #333333;
    padding: 0 1px;
    text-decoration: underline;
    font-weight: lighter;
    font-style: normal;
}
a:hover, a:active { text-decoration: underline; font-weight: bold; }

/* Headings */
h1, h2 {
    /* Remove most link styling from headings */
    a:link, a:active, a:visited {
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
    }
    a:hover { font-weight: bold; font-style: italic; }
}
/* Only the main heading of the site */
hgroup h1 { a:link, a:active, a:visited, a:hover {
    color: #fff; 
    }
    margin-bottom: 0;
}

/* Navigation section */
nav { a:link { font-style: normal; } }

/* Lists */
ul { list-style-type:none; margin:0; padding:0; }
footer li:first-child { font-weight: bold; }
footer li:last-child { margin: 0 0 1em; }

/* Code blocks */
pre { tab-size: 2 }
main pre { margin-bottom: 30px; overflow: auto; background-color: #efefef; padding: 10px; font-size: 85%; }
main pre code, main pre i { color: #888 }
main code { white-space: pre }

/* Images */
main img, main svg { max-width: 75%; display: inline-block; margin: 0 0 25px; }

/* Paragraph element */
main p { line-height:160%; }
/* Site subtitle */
header hgroup p { margin-top: 0.5em; }


/* Footer */
footer { border-top: 1px solid black; margin-top: 1em; }
article footer { border-top: none; margin-top: 0; }

/* Header */
/* header { margin-bottom: 1em; } */
header hgroup { float: left; margin: 30px 60px 30px 30px; padding: 0px 20px 0px 20px; background-color: #000000; color: #fff}

/* Description lists */
main dt { font-weight: bold; margin-top: 1em; }
main dl, dd { font-size: 90%; tab-size: 2; }
