/* A lot of this was cribbed from the stylesheet for xxiivv.com --- my thanks to Devine Lu Linvega */

/* Fonts borrowed from Tufte */

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book-roman-old-style";
    src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
    src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Whole page */
body { color: #111111; background:#ffffee; font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; font-size:16px; overflow-x:hidden }


/* Main section of page */
main { margin-left:30px; max-width:624px; clear:both; position:relative }


/* Links */
a { outline: 0; }
a img { border: 0px; text-decoration: none; }
a:link {
    color: #111111;
    padding: 0 1px;
    text-decoration: underline;
    font-weight: normal;
    font-style: normal;
}
a:visited {
    color: #333333;
    padding: 0 1px;
    text-decoration: underline;
    font-weight: lighter;
    font-style: normal;
}
a:hover, a:active { text-decoration: underline; color: #333333;     transition: color .4s; }


/* Headings */
h1, h2 {
    /* Remove most link styling from main heading */
    a:link, a:active, a:visited {
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
    }
    a:hover { font-weight: bold; font-style: underline; }
}
/* Only the main heading of the site */
hgroup h1 { a:link, a:active, a:visited, a:hover {
    color: #111111; 
    }
    margin-bottom: 0;
}


/* Navigation section */
nav { a:link { font-style: normal; } }


/* Lists */
footer ul { list-style-type:none; margin:0; padding:0; }
footer li:first-child { font-weight: bold; margin-top: 1em; }
/* Slightly shrink font for nested lists */
ul li ul, ul li ol { font-size: 90%; }


/* Inline code */
p code, li code { 
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 85%;
}


/* Code blocks */
pre { tab-size: 2; }
main pre { margin-bottom: 30px; overflow: auto; background-color: #efefef; padding: 10px; font-size: 85%; max-width: 100%; }
main pre code, main pre i { color: #888 }
main code { white-space: pre }


/* Images */
main img, main svg { max-width: 75%; display: inline-block; margin: 0 0 25px; }
/* Figure, which is the image at the top of the page */
figure img { max-width: 100%; display:block; margin: 0; }
figure figcaption { padding: 15px 0; font-size: 90%; font-style: italic; }
figure:first-child { max-width: 100vw; margin-left: -30px; width: 800px; }
figure:first-child figcaption { padding-left: 30px; }


/* Paragraph element */
main p { line-height:160%; }
footer p time { font-style: normal; color: #111111 }
/* The article summary */
section p { margin-top: 0; margin-bottom: 0.25em }
/* Site subtitle */
header hgroup p { margin-top: 0.5em; color: #888 }
p.bywyd { font-style: italic; color: #555 }
/* Drop cap --- needs work so doesn't apply to blockquote */
/* Also covers up text */
/* main p:first-of-type::first-letter { */
     /* font-family: serif; */
     /* color: black; */
     /* font-size: 3.75em; */
     /* font-style: oblique; */
     /* float: left; */
     /* line-height: 3.5rem; */
/* } */

/* Super- and subscripts */
sub, sup { font-size: 70%; }


/* Footer */
footer { border-top: 2px solid black; margin: 0; padding: 30px}
article footer { border-top: none; margin-top: 0; margin-bottom: 1em; font-style: italic; color: #555; padding: 0; }
article footer p { margin: 0; }
blockquote footer p { padding: 0; color: #111111; }
footer.mainfooter ul { display: inline-block; margin: 0 2em 0 0; vertical-align: top; }
footer.mainfooter nav { display: grid; }

/* Header */
/* Main site header */
header hgroup {
    /* float: left; */
    position: center;
    text-align: center;
    /* max-width: 350px; */
    /* font-variant: small-caps; */
    color: #111111;
    border-radius: 0.5em;
    border-bottom: 2px solid black;
    margin: 30px 30px 30px 30px;
    /* background-color: #111111; */
    padding: 1px 20px 1px 20px;
    margin-top: 1em;
    /* top: 30px; */
    /* box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px; */
}
/* The title of the article --- why is this an h2 element, Pelican?? */
article header h2 { font-size: 175%; font-variant: small-caps; margin-bottom: 0.25em; }


/* Definition lists */
main dt { font-weight: bold; margin-top: 1em; }
main dl, dd { tab-size: 2; }


/* Figure (which holds header images) */
figure { margin: 0; }


/* Tables */
table, th, td { border: 1px solid; }
table td, table th { vertical-align:top; padding:2.5px 5px; text-align:left }
table td > pre, table th > pre { background:none; padding:0; margin:0 }
table tr img { margin-bottom:0; display:block }
table {margin-bottom: 1em; }

/* Horizontal rules */
hr { color: #888}


/* Table of contents */
/* https://cloudbytes.dev/snippets/add-a-table-of-contents-using-markdown-in-pelican */
/* The leading dot is needed because toc is a class, rather than an HTML element */
.toc {
    border-radius: 0.5em;
    margin-bottom: 1em;
    background: #111111;  /* #222831 for nice blue */
    padding: .5em;
    margin-top: 1em;
    top: 30px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
}

.toc ul {
    list-style: none;
    padding: 0.5rem 1rem;
    margin: 0;
}

.toc ul li {
    padding: .25em;
}

.toc ul li a {
    color: #ffffee;
    font-weight: 500;
    transition: color .4s;
}

.toc ul li a:hover {
    color: #aaaa99;
    transition: color .4s;
}

/* Subheadings */
.toc ul li ul {
    font-size: .9em;
    font-weight: 500;
    margin-left: 5px;;;;;
}

.toc ul li ul a {
    color: #ddddcc;
}
/* Heading of contents table */
span.toctitle { color: #ffffee; font-weight: bold; font-variant: small-caps; }

/* Quotations */
blockquote { font-size: 1.4rem; }
blockquote p { font-style: italic; width: 60%; margin-right: 40px; }
blockquote footer { width: 60%; font-size: 1.1rem; font-weight: bold; text-align: right; }


/* Phrase at the bottom of the site */
footer address { width: 100%; text-align: center; }
footer address p { margin-bottom: 0.1em}
