/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link {
    color: #000000;  /* Need to set this properly to match font colour */
    padding: 0 1px;
    text-decoration: underline;
    font-weight: normal;
    font-style: italic;
}
a:visited {
    color: #555555;
    padding: 0 1px;
    text-decoration: underline;
    font-weight: lighter;
    font-style: italic;
}
a:hover, a:active {
    /* background-color: #C74350; */
    /* color: #222222; */
    text-decoration: underline;
    /* text-shadow: 1px 1px 1px #333; */
    font-weight: bold;
}

h1, h2 {
    a:link, a:visited, a:hover, a:active {
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
    }
}

nav {
    a:link {
        font-style: normal;
    }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
