{% extends "base.html" %}
{% block content %}
{% block content_title %}
<h2>All articles</h2>
<hr>
{% endblock %}


{% for article in articles_page.object_list %}
        <article>
                <header> <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <section>{{ article.summary }}</section>
                <footer>
                    <p>Published: <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></p>
                    <address>BY
                    {% for author in article.authors %}
                        <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% if article.category %}
                    
                        // CATEGORY
                        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                    
                    {% endif %}
                    {% if article.tags %}
                    
                        // TAGS
                        {% for tag in article.tags %}
                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
{% endfor %}
                    </address>
                </footer>
<hr>
<p></p>
        </article>
{% endfor %}
<hr>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

{% endblock content %}
